<!-- ##### Header Area Start ##### -->
<header class="header_area">
    <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
        <!-- Classy Menu -->
        <nav class="classy-navbar" id="essenceNav">
            <!-- Logo -->
            <a class="nav-brand" href="/">AWS-OS</a>
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu">
                <!-- close btn -->
                <div class="classycloseIcon">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- Nav Start -->
                <div class="classynav">
                    <ul>
                        <li><a href="/san-pham">Đồng hồ</a>
                            <ul class="dropdown">
                                <li><a class="dropdown-item" href="/san-pham/dong-ho-nam">Đồng hồ Nam</a></li>
                                <li><a class="dropdown-item" href="/san-pham/dong-ho-nu">Đồng hồ Nữ</a></li>
                            </ul>
                        </li>
                        <li><a href="/san-pham/phu-kien">Phụ kiện</a></li>
                        <li><a href="#">Về chúng tôi</a>
                            <ul class="dropdown">
                                <li><a class="dropdown-item" href="/ve-chung-toi">Giới thiệu</a></li>
                                <li><a class="dropdown-item" href="/lien-he">Liên hệ</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- Nav End -->
            </div>
        </nav>

        <!-- Header Meta Data -->
        <div class="header-meta d-flex clearfix justify-content-end">
            <!-- Search Area -->
            <div class="search-area">
                <form action="/tim-kiem" method="GET">
                    <input type="search" name="search" id="headerSearch" placeholder="Tìm kiếm">
                    <button type="submit"><i class="fal fa-search fa-lg" aria-hidden="true"></i></button>
                </form>
            </div>
            <!-- Favourite Area -->
            <div class="favourite-area">
                <a href="#"> <i class="fal fa-heart fa-lg"></i></a>
            </div>
            <!-- User Login Info -->

            <div class="user-login-info user-dropdown">
                <%if(currentUser){%>
                    <ul>
                        <a class="dropdown" href="#"><i class="fal fa-user fa-lg"></i></a>
                        <div class="dropdown-content">
                            <a href="/account/edit">Trang cá nhân</a>
                            <a href="/account">Đơn hàng</a>
                            <a href="/user/dang-xuat">Đăng xuất</a>
                        </div>
                    </ul>
                    <%} else {%>
                        <ul>
                            <a class="dropdown" href="#"><i class="fal fa-sign-in-alt fa-lg"></i></a>
                            <div class="dropdown-content">
                                <a href="/dang-nhap">Đăng nhập</a>
                                <a href="/dang-ky">Đăng ký</a>
                            </div>
                        </ul>
                        <%} %>
            </div>
            <!-- Cart Area -->
            <div id="cart-no" class="cart-area">
                <a href="#" id="essenceCartBtn"><i class="fal fa-shopping-cart fa-lg"></i>
                    <span>
                        <%=session.cart && session.cart.totalQty!=0? session.cart.totalQty : "" %>
                    </span>
                </a>
            </div>
        </div>

    </div>
</header>
<!-- ##### Header Area End ##### -->