<%- include('./emailHeader.ejs') %>

<h3>ĐẶT LẠI MẬT KHẨU CỦA BẠN</h3>
<p>Vui lòng bỏ qua email này nếu bạn không thực hiện hành động này</p>
<p>Hãy click vào liên kết bên dưới để đặt lại mật khẩu của bạn</p>
<button class="awsos-btn"><a href="<%= url %> target=" _blank">Đặt lại mật khẩu</a></button>
<p>Trân trọng, </p>
<p>Đội ngũ phát triển AWS-OS </p>
  <%- include('./emailFooter.ejs') %>
