<!-- ##### Blog Wrapper Area Start ##### -->
<div class="single-blog-wrapper">
    <!-- Single Blog Post Thumb -->
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb_area breadcumb-style-two bg-img" style="background-image: url(img/bg-img/bg-8.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>Chào bạn,</h2>
                        <h3>Chúng tôi là AWS-OS</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="regular-page-content-wrapper section-padding-80">
                    <div class="regular-page-text">
                        <h2>I. Giới thiệu thành viên</h2>
                        <p>AWS-OS là nhóm đến từ lớp Lập trình và phát triển ứng dụng Web 18_31, gồm 3 thành viên: </p>
                        <p>1. Nguyễn Hoàng Long - 18120449 <br> 2. Nguyễn Phương Nam - 18120471 <br> 3. Trần Đại Nghĩa - 18120480</p>
                       
                        <blockquote>
                            <h6><i class="fa fa-quote-left" aria-hidden="true"></i>Giáo viên hướng dẫn là thầy Khánh</h6>
                            <span>AWSOS Team</span>
                        </blockquote>

                        <p>Đây là website được phát triển dựa trên công nghệ chính là NodeJS đi kèm với Framework Express</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Blog Wrapper Area End ##### -->
