<%function numberWithCommas(price) {
    var parts = price.toString().split(".");
    parts[0]=parts[0].replace(/\B(?=(\d{3})+(?!\d))/g,".");
    return parts.join(",");
    }
%>

<section class="single_product_details_area d-flex align-items-center">
    <div class="single_product_thumb clearfix">
        <div class="product_thumbnail_slides owl-carousel">
            <%product.images.forEach(image =>{%>
            <img src="<%=image%>" alt="">
            <%})%>
        </div>
    </div>
    <div class="single_product_desc clearfix">
        <h2>
            <%=product.name%>
        </h2>

        <p class="product-price">
            <%=numberWithCommas(product.price)%> đ
        </p>
        <hr>
        <div class="d-flex align-items-center">
            <span> tình trạng: </span>
            <% if(product.status){ %>
            <span style="color: rgb(59, 177, 0);"> Còn hàng</span>
            <% } else{ %>
            <span style="color: rgb(255, 0, 0);"> Hết hàng</span>
            <% } %>
        </div>
        <hr>
        <form class="cart-form clearfix" method="post">
            <!-- Select Box -->
            <div class="select-box d-flex mt-50 mb-30">
                <select name="select" id="productSize" class="mr-5">
                    <option value="value">Size: 5</option>
                    <option value="value">Size: 6</option>
                    <option value="value">Size: 7</option>
                    <option value="value">Size: 8</option>
                    <option value="value">Size: 9</option>
                    <option value="value">Size: 10</option>
                </select>

            </div>
            <!-- Cart & Favourite Box -->
            <div class="cart-fav-box d-flex align-items-center">
                <!-- Cart -->
                <button type="submit" name="addtocart" value="5" class="btn essence-btn">Add to cart</button>
                <!-- Favourite -->
                <div class="product-favourite ml-4">
                    <a href="#" class="favme fa fa-heart"></a>
                </div>
            </div>
        </form>
    </div>
</section>


