<div class="contact-area d-flex align-items-center">

    <div class="google-map">
        <div id="googleMap"></div>
    </div>

    <div class="contact-info">
        <h2>Làm sao để tìm chúng tôi</h2>
        <p>Chào bạn, nếu muốn liên hệ với chúng tôi, vui lòng gọi điện hoặc gửi email qua thông tin bên dưới nha.</p>

        <div class="contact-address mt-50">
            <p><span>Địa chỉ:</span> Lớp phát triển ứng dụng Web 18_31 tại trường Đại học Khoa học Tự nhiên, ĐHQG-HCM
            </p>
            <p><span>Điện thoại:</span> +84 123 456 23</p>
            <p><span>Gửi email -> </span><a href="mailto:hoanglonghm14@gmail.com">hoanglonghm14@gmail.com</a></p>
        </div>
    </div>

</div>
<script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDh2HHwErFTPQZpPsm1YPFeU2Rvqwj0QbQ&sensor=false"></script>
<script src="/js/map-active.js"></script>