<div class="panel-body bio-graph-info">
    <h1 class="bio-header">Địa chỉ</h1>
    <form class="row bio-info mb-4 pr-lg-5" action="/user/address" method="POST">

        <div class="form-group row bio-row">
            <label for="address" class="col-lg-2 col-form-label">Địa chỉ: </label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="address" name="address" value="<%=currentUser.address%>">
            </div>
        </div>
        <div class="form-group row bio-row">
            <label class="col-lg-2 input-label">&nbsp;</label>
            <div class="row col-lg-10 ml-1">
                <button type="submit" class="btn btn-warning btn-user">Lưu địa chỉ
                </button>
            </div>
        </div>

    </form>

</div>