<div class="bg-gradient-light">
  <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center align-items-center body-container">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5 mx-lg-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row" id="bg-login">

              <div class="col-12">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h2 text-gray-900 mb-3 ">Đặt lại mật khẩu</h1>
                  </div>
                  <form class="user" action="/user/reset-password?token=<%=token%>" method="POST">
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" id="password" name="password"
                        placeholder="Mật khẩu mới">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" id="password-confirm"
                        name="passwordConfirm" placeholder="Xác nhận mật khẩu mới">
                    </div>

                    <button type="submit" class="btn essence-btn btn-block">
                      Xác nhận
                    </button>
                  </form>

                </div>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>